.app.dark {
  --bg-color: #030379;
  --inverted-bg-color: #cfcfd7;

  --primary-color: #1f881f;
  --secondary-color: #04d904;
  --inverted-primary-color: #191993;
  --inverted-secondary-color: #003bff;

}