.app_dark_theme {
    --bg-color: #030379;
    --inverted-bg-color: #cfcfd7;
    --primary-color: #04d904;
    --secondary-color: #1f881f;
    --inverted-primary-color: #191993;
    --inverted-secondary-color: #003bff;
}